{% extends "catalogueapp/base.html" %}

{% block content %}


<h2>{{ organisation.name }}</h2>

<h3>Profile</h3>

{{ organisation.description  | linebreaks }}

<h3>Evidence Base</h3>

{{ organisation.get_our_description_markdown_html | safe }}

{% for service in services %}
    <h3>{{ service.name }}</h3>

    <div>{{ service.description | linebreaks }}</div>

    {% if service.url and service.url != organisation.url %}
        <a href="{{ service.url }}">Website</a>
    {% endif %}

    {% if service.phone and service.phone != organisation.phone %}
        <div>Phone: {{ service.phone }}</div>
    {% endif %}

    {% if service.email and service.email != organisation.email %}
        <div>Email: <a href="mailto:{{ service.email }}">{{ service.email }}</a></div>
    {% endif %}

{% endfor %}

<h3>Contact</h3>

{% if organisation.facebook %}
    <a href="{{ organisation.facebook }}">FaceBook</a>
{% endif %}

{% if organisation.twitter %}
    <a href="{{ organisation.twitter }}">Twitter</a>
{% endif %}

{% if organisation.url %}
    <a href="{{ organisation.url }}">Website</a>
{% endif %}

{% if organisation.phone %}
    <div>Phone: {{ organisation.phone }}</div>
{% endif %}

{% if organisation.email %}
    <div>Email: <a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a></div>
{% endif %}



{% endblock %}
