{% extends "catalogueapp/admin/base.html" %}

{% block htmltitle %}Service {{ service.name }} - {% endblock %}

{% block content %}

<h2>Service</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ service.name }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ service.description }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td>{% if service.url %}<a href="{{ service.url }}" target="_blank">{{ service.url }}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ service.phone }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{% if service.email %}<a href="mailto:{{ service.email }}">{{ service.email }}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>ALISS URL</th>
        <td><a href="{{ service.aliss_url }}" target="_blank">{{ service.aliss_url }}</a></td>
    </tr>
    <tr>
        <th>ALISS Permalink</th>
        <td><a href="{{ service.aliss_permalink }}" target="_blank">{{ service.aliss_permalink }}</a></td>
    </tr>
    <tr>
        <th>Active</th>
        <td>{% if service.active %}Yes{% else %}No{% endif %}</td>
    </tr>
</table>


<form method="post">
    {% csrf_token %}
    {% if service.active %}
        <input type="hidden" name="action" value="inactive">
        <input type="submit" value="Make Inactive" class="btn btn-primary">
    {% else %}
        <input type="hidden" name="action" value="active">
        <input type="submit" value="Make Active" class="btn btn-primary">
    {% endif %}
</form>



<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="update">
    <input type="submit" value="Update ALISS data now" class="btn btn-primary">
</form>

<h2>Organisation</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ service.organisation.name }}</td>
    </tr>
    <tr>
        <th>aliss_permalink</th>
        <td><a href="{{ service.organisation.aliss_permalink }}" target="_blank">{{ service.organisation.aliss_permalink }}</a></td>
    </tr>
    <tr>
        <th>more</th>
        <td><a href="{% url 'admin_organisation_index' service.organisation.aliss_id %}" class="btn btn-primary">View Organisation</a></td>
    </tr>
</table>


{% endblock %}
