{% extends "catalogueapp/admin/base.html" %}

{% block content %}

<h2>Service</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ service.name }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ service.description }}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td>{{ service.url }}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ service.phone }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{{ service.email }}</td>
    </tr>
    <tr>
        <th>ALISS URL</th>
        <td>{{ service.aliss_url }}</td>
    </tr>
    <tr>
        <th>ALISS Permalink</th>
        <td>{{ service.aliss_permalink }}</td>
    </tr>
    <tr>
        <th>Active</th>
        <td>{% if service.active %}Yes{% else %}No{% endif %}</td>
    </tr>
</table>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="update">
    <input type="submit" value="Update ALISS data now" class="btn btn-primary">
</form>

<h2>Organisation</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ service.organisation.name }}</td>
    </tr>
    <tr>
        <th>aliss_permalink</th>
        <td>{{ service.organisation.aliss_permalink }}</td>
    </tr>
    <tr>
        <th>more</th>
        <td><a href="{% url 'admin_organisation_index' service.organisation.aliss_id %}" class="btn btn-primary">View Organisation</a></td>
    </tr>
</table>


{% endblock %}
