{% extends "catalogueapp/base.html" %}

{% block content %}

    <form method="get">
        Search: <input name="search" value="{{ search }}">
        <input type="submit" value="Search">
    </form>

    <div class="organisationList">
        {% for organisation in organisations %}
            <div class="organisation">
                <div><a href="{% url 'organisation_index' organisation.aliss_id %}">{{ organisation.name }}</a></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
