{% extends "catalogueapp/admin/base.html" %}

{% block content %}

<b>Organisation on ALISS</b>

<table>
    <tr>
        <td>Name</td>
        <td>{{ organisation.name }}</td>
    </tr>
    <tr>
        <td>description</td>
        <td>{{ organisation.description }}</td>
    </tr>
    <tr>
        <td>facebook</td>
        <td>{{ organisation.facebook }}</td>
    </tr>
    <tr>
        <td>twitter</td>
        <td>{{ organisation.twitter }}</td>
    </tr>
    <tr>
        <td>url</td>
        <td>{{ organisation.url }}</td>
    </tr>
    <tr>
        <td>phone</td>
        <td>{{ organisation.phone }}</td>
    </tr>
    <tr>
        <td>email</td>
        <td>{{ organisation.email }}</td>
    </tr>
    <tr>
        <td>aliss_url</td>
        <td>{{ organisation.aliss_url }}</td>
    </tr>
    <tr>
        <td>aliss_permalink</td>
        <td>{{ organisation.aliss_permalink }}</td>
    </tr>
</table>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="update">
    <input type="submit" value="Update ALISS data now">
</form>

<b>Services</b>


<table>
    <tr>
        <td>Name</td>
        <td>Active?</td>
        <td>&nbsp;</td>
    </tr>
    {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            <td>{% if service.active %}Yes{% else %}No{% endif %}</td>
            <td>
                <a href="{% url 'admin_service_index' service.aliss_id %}">View</a>
            </td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
