{% extends "catalogueapp/admin/base.html" %}

{% block htmltitle %}Organisation {{ organisation.name }} - {% endblock %}

{% block content %}


<h2>Organisation</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>{{ organisation.name }}</td>
    </tr>
    <tr>
        <th>Our Description (Markdown)</th>
        <td>{{ organisation.our_description_markdown | linebreaks }}</td>
    </tr>
    <tr>
        <th>Our Description (Preview)</th>
        <td>{{ organisation.get_our_description_markdown_html | safe }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ organisation.description }}</td>
    </tr>
    <tr>
        <th>Facebook</th>
        <td>{% if organisation.facebook %}<a href="{{ organisation.facebook }}" target="_blank">{{ organisation.facebook }}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>Twitter</th>
        <td>{% if organisation.twitter %}<a href="{{ organisation.twitter }}" target="_blank">{{ organisation.twitter }}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>URL</th>
        <td>{% if organisation.url %}<a href="{{ organisation.url }}" target="_blank">{{ organisation.url }}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>{{ organisation.phone }}</td>
    </tr>
    <tr>
        <th>E-mail</th>
        <td>{% if organisation.email %}<a href="mailto:{{ organisation.email }}">{{ organisation.email }}</a>{% endif %}</td>
    </tr>
    <tr>
        <th>ALISS URL</th>
        <td><a href="{{ organisation.aliss_url }}" target="_blank">{{ organisation.aliss_url }}</a></td>
    </tr>
    <tr>
        <th>ALISS Permalink</th>
        <td><a href="{{ organisation.aliss_permalink }}" target="_blank">{{ organisation.aliss_permalink }}</a></td>
    </tr>
</table>

<a href="{% url 'admin_organisation_edit' organisation.aliss_id %}" class="btn btn-primary">Edit</a>


<form method="post">
    {% csrf_token %}
    <input type="hidden" name="action" value="update">
    <input type="submit" value="Update ALISS data now"  class="btn btn-primary">
</form>

<h2>Services</h2>


<table class="table">
    <tr>
        <th>Name</th>
        <th>Active?</th>
        <th>&nbsp;</th>
    </tr>
    {% for service in services %}
        <tr>
            <td>{{ service.name }}</td>
            <td>{% if service.active %}Yes{% else %}No{% endif %}</td>
            <td>
                <a href="{% url 'admin_service_index' service.aliss_id %}" class="btn btn-primary">View Service</a>
            </td>
        </tr>
    {% endfor %}

</table>

{% endblock %}
