<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    </head>
    <body>

        <div style="max-width: 970px; margin: 0 auto;">
            <div style="border-bottom: 3px solid black; background: #eee;">
                <nav class="navbar" role="navigation">
                    <h1>
                        <a href="/catalogueadmin" class="text-white">
                            Catalogue Admin
                        </a>
                    </h1>
                    <div style="text-align: right;">
                        {% if user.is_authenticated %}
                            {% if perms.catalogueapp.catalogueadmin %}
                                <a href="/catalogueadmin/add">Add</a> |
                                <a href="{% url 'admin_organisation_list'  %}">List Organisations</a> |
                                <a href="{% url 'admin_service_list'  %}">List Services</a> |
                            {% endif %}
                            <a href="/accounts/logout/">Logout</a>
                        {% else %}
                            <a href="/accounts/login/">Login</a>
                        {% endif %}
                    </div>
                </nav>

            </div>

            <div style="padding-top: 20px; padding-bottom: 60px;">
                {% block content %}
                {% endblock %}
            </div>

            <div style="text-align: right; color: #333;">
                <div><a href="https://github.com/OpenDataServices/iCAN-Scot-Catalogue">Open Source</a></div>
                {% if aliss_meta %}
                    <div>
                        ALISS Data <a href="{{ aliss_meta.licence }}" target="_blank" rel="nofollow">Licence</a>.
                        {% for attr in aliss_meta.get_attribution_list %}
                            <a href="{{ attr.url }}" target="_blank" rel="nofollow">{{ attr.text }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </body>
</html>