{% extends "catalogueapp/admin/base.html" %}

{% block htmltitle %}Organisations - {% endblock %}

{% block content %}

<h2>Organisations</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>&nbsp;</th>
    </tr>
    {% for organisation in organisations %}
        <tr>
            <td>{{ organisation.name }}</td>
            <td>
                <a href="{% url 'admin_organisation_index' organisation.aliss_id %}" class="btn btn-primary">View</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
